body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  width: 1000px;
  margin: 0 auto;
}

p {
  padding-left: 10px;
}

.post__item {
  padding: 10px 0;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.recursion__item {
  display: block;
}

.recursion__container {
  padding-left: 10px;
  display: block;
}